{% extends 'base.html' %}

{% block title %}Home | Anime Hub{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h2>Popular Anime</h2>
      <!-- Add a carousel or a grid of popular anime here -->
    </div>
    <div class="col-md-4">
      <h2>Latest News</h2>
      <!-- Add latest news or blog posts here -->
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2>Recommendations</h2>
      <!-- Add recommendations section here -->
    </div>
  </div>
{% endblock %}
